{{polaris-select
  dataTestSelect="date-selector"
  label="Select a value"
  labelHidden=true
  placeholder="Select a filter..."
  options=dateOptions
  value=dateFilterOption
  onChange=(action handleDateFilterOptionsChange)
}}

{{#if showDatePredicate}}
  <div class="Polaris-FilterControl-DateSelector__DateTextField">
    {{polaris-text-field
      label="Date"
      placeholder="YYYY-MM-DD"
      autoComplete=false
      prefix=(component "polaris-icon" source="calendar" color="skyDark")
      value=dateTextFieldValue
      error=userInputDateError
      onChange=(action handleDateFieldChange)
      onBlur=(action handleDateBlur)
    }}
  </div>
  <div class="Polaris-FilterControl-DateSelector__DatePicker">
    {{polaris-date-picker
      selected=selectedDate
      month=datePickerMonth
      year=datePickerYear
      onChange=(action handleDatePickerChange)
      onMonthChange=(action handleDatePickerMonthChange)
    }}
  </div>
{{/if}}
