<div
  class="Polaris-DatePicker__Weekday {{@class}} {{if @current "Polaris-DatePicker__Weekday--current"}}"
  data-test-date-picker-weekday
  ...attributes
  aria-label={{@label}}
>
  {{@title}}
</div>
