{{#if title}}
  <div class="Polaris-Card__SectionHeader">
    {{#polaris-subheading}}
      {{title}}
    {{/polaris-subheading}}
  </div>
{{/if}}

{{#if hasBlock}}
  {{yield}}
{{else}}
  {{text}}
{{/if}}
