<label
  for={{@inputId}}
  class={{this.cssClasses}}
  data-test="choice-label"
  ...attributes
>
  <span class="Polaris-Choice__Control">
    {{yield}}
  </span>

  <span class="Polaris-Choice__Label">
    {{render-content @label}}
  </span>
</label>
