{{page-title "Test Ember Polaris"}}

<AppProvider>
  <h2 id="title">Welcome to Ember Polaris</h2>

  <LinkTo @route="application">Home</LinkTo>
  <LinkTo @route="box">Box</LinkTo>
  <LinkTo @route="grid">Grid</LinkTo>
  <LinkTo @route="shadow-bevel">ShadowBevel</LinkTo>
  <LinkTo @route="text">Text</LinkTo>

  {{outlet}}
</AppProvider>