{{#polaris-choice
  inputId=_id
  label=label
  labelComponent=labelComponent
  labelHidden=labelHidden
  helpText=helpText
  error=error
}}
  <div class="Polaris-Checkbox {{if error "Polaris-Checkbox--error"}}">
    {{one-way-checkbox
      id=_id
      name=name
      value=value
      checked=isChecked
      disabled=disabled
      class=checkboxClasses
      aria-checked=checkedState
      aria-invalid=(if error "true" "false")
      aria-describedby=describedBy
      indeterminate=(if isIndeterminate "true")
      update=(action onChange)
      focusIn=(action onFocus)
      focusOut=(action onBlur)
    }}

    <div class="Polaris-Checkbox__Backdrop"></div>

    <div class="Polaris-Checkbox__Icon">
      {{polaris-icon source=(if isIndeterminate "subtract" "checkmark")}}
    </div>
  </div>
{{/polaris-choice}}
