<div class="
  Polaris-TextField
  {{if disabled 'Polaris-TextField--disabled'}}
  {{if readOnly 'Polaris-TextField--readOnly'}}
  {{if hasValue 'Polaris-TextField--hasValue'}}
">
  {{one-way-input
    class="Polaris-TextField__Input"
    id=inputId
    name=name
    value=value
    placeholder=placeholder
    disabled=disabled
    readOnly=readOnly
  }}
  <div class="Polaris-TextField__Backdrop"></div>
</div>
