<progress
  data-test-progress-bar-progress
  class="Polaris-ProgressBar__Progress"
  max="100"
  value={{parsedProgress}}
>
</progress>

<div
  data-test-progress-bar-indicator
  class="Polaris-ProgressBar__Indicator"
  style={{progressStyle}}
>
  <span data-test-progress-bar-indicator-label class="Polaris-ProgressBar__Label">
    {{parsedProgress}}%
  </span>
</div>
