<div className="Polaris-DatePicker__Header">
  {{polaris-button
    plain=true
    icon="arrowLeft"
    accessibilityLabel=previousMonthLabel
    onClick=(action "handleMonthChangeClick" showPreviousMonth showPreviousYear)
  }}

  {{polaris-button
    plain=true
    icon="arrowRight"
    accessibilityLabel=nextMonthLabel
    onClick=(action "handleMonthChangeClick" showNextMonth showNextYear)
  }}
</div>
<div class="Polaris-DatePicker__MonthContainer">
  {{polaris-date-picker/month
    month=month
    year=year
    selected=range
    disableDatesBefore=disableDatesBefore
    disableDatesAfter=disableDatesAfter
    allowRange=allowRange
    hoverDate=hoverDate
    focusedDate=focusDate
    onChange=(action "handleDateSelection" selected)
    onFocus=(action "handleFocus")
    onHover=(action "handleHover")
  }}

  {{#if multiMonth}}
    {{polaris-date-picker/month
      month=showNextMonth
      year=showNextYear
      selected=range
      disableDatesBefore=disableDatesBefore
      disableDatesAfter=disableDatesAfter
      allowRange=allowRange
      hoverDate=hoverDate
      focusedDate=focusDate
      onChange=(action "handleDateSelection" selected)
      onFocus=(action "handleFocus")
      onHover=(action "handleHover")
    }}
  {{/if}}
</div>
