{{#component buttonComponentName
  url=url
  external=external
  primary=primary
  destructive=destructive
  disabled=disabled
  size=size
  outline=outline
  fullWidth=fullWidth
  plain=plain
}}
  <span class="Polaris-Button__Content">
    <span>
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{children}}
      {{/if}}
    </span>
  </span>
{{/component}}
