<PolarisStack @alignment="center" @vertical={{true}} as |stack|>
  {{#if @withIllustration}}
    <stack.item>
      {{! TODO: replace this with polaris-image when implemented. }}
      <img
        src="/@smile-io/ember-polaris/illustrations/empty-search.svg"
        alt="Empty search results"
        class="Polaris-EmptySearchResult__Image"
        draggable="false"
      />
    </stack.item>
  {{/if}}

  <PolarisDisplayText @size="small" @text={{@title}} />

  {{#if @description}}
    <stack.item>
      <PolarisTextStyle @variation="subdued">
        <p>{{@description}}</p>
      </PolarisTextStyle>
    </stack.item>
  {{/if}}
</PolarisStack>