<span
  class={{this.cssClasses}}
  data-test-icon
  ...attributes
  aria-label={{@accessibilityLabel}}
>
  {{#if this.showPlaceholder}}
    <div class="Polaris-Icon__Placeholder"></div>
  {{else}}
    {{svg-jar this.iconSource
      class="Polaris-Icon__Svg"
      focusable="false"
      aria-hidden="true"
      id=this.svgElementId
    }}
  {{/if}}
</span>
