{{#component buttonComponentName
  url=url
  external=external
}}
  <span class="Polaris-Button__Content">
    <span>
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{children}}
      {{/if}}
    </span>
  </span>
{{/component}}
