{{#if @message}}
  <div
    class="Polaris-InlineError"
    id="{{@fieldID}}Error"
    data-test-inline-error={{this.dataTestInlineError}}
    ...attributes
  >
    <div
      class="Polaris-InlineError__Icon"
      data-test-inline-error-icon={{this.dataTestInlineErrorIcon}}
    >
      <PolarisIcon @source="alert" />
    </div>

    {{render-content @message}}
  </div>
{{/if}}
