{{#if hasHeaderContent}}
  {{polaris-page/header
    title=title
    titleHidden=titleHidden
    icon=icon
    breadcrumbs=breadcrumbs
    separator=separator
    secondaryActions=secondaryActions
    primaryAction=primaryAction
    pagination=pagination
  }}
{{/if}}

<div class="Polaris-Page__Content">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{text}}
  {{/if}}
</div>
