<div class="Polaris-ColorPicker__MainColor">
  <div class="Polaris-ColorPicker__ColorLayer" style={{colorLayerStyle}}></div>
  {{polaris-color-picker/slidable
    draggerX=draggerX
    draggerY=draggerY
    onChange=(action "draggerMoved")
  }}
</div>

{{polaris-color-picker/hue-picker hue=color.hue}}
