{{#if title}}
  <legend class="Polaris-ChoiceList__Title">
    {{title}}
  </legend>
{{/if}}

<ul class="Polaris-ChoiceList__Choices">
  {{#each checkedChoices as |choice|}}
    <li>
      {{component
        controlComponent
        label=choice.label
        value=choice.value
        helpText=choice.helpText
        disabled=choice.disabled
        name=finalName
        checked=choice.isSelected
        onChange=(action "updateSelectedChoices" choice)
      }}
    </li>
  {{/each}}
</ul>

{{#if error}}
  <div class="Polaris-ChoiceList__ChoiceError">
    {{inline-error
      message=error
      fieldID=finalName
    }}
  </div>
{{/if}}
