<progress class="Polaris-ProgressBar__Progress"
  max="100"
  value="{{parsedProgress}}"
>
</progress>

<div class="Polaris-ProgressBar__Indicator"
  role="progressbar"
  aria-hidden="true"
  style={{progressStyle}}
>
  <span class="Polaris-ProgressBar__Label">
    {{parsedProgress}}%
  </span>
</div>
