<div class="Polaris-ResourceList-BulkActions__Group Polaris-ResourceList-BulkActions__Group--smallScreen">
  <div class="Polaris-ResourceList-BulkActions__ButtonGroup">
    {{polaris-resource-list/checkable-button
      accessibilityLabel=accessibilityLabel
      label=label
      selected=selected
      selectMode=selectMode
      measuring=measuring
      disabled=disabled
      onToggleAll=(action onToggleAll)
    }}

    {allActionsPopover}
    {cancelButton}
  </div>
  {paginatedSelectAllMarkup}
</div>

<!-- {largeScreenGroup} -->
