<div class="Polaris-ResourceList-CheckableButton__Checkbox">
  {{polaris-checkbox
    labelHidden=true
    label=accessibilityLabel
    checked=selected
    disabled=disabled
  }}
</div>
<span class="Polaris-ResourceList-CheckableButton__Label">{{label}}</span>
