<div class="Polaris-ResourceList__Container" id={{itemId}}>
  <div class="Polaris-ResourceList__Content">
    <div class="Polaris-ResourceList__Attributes">
      <p class="Polaris-ResourceList__AttributeOne">
        {{item.attributeOne}}
      </p>

      {{#if item.attributeTwo}}
        <div class="Polaris-ResourceList__AttributeTwo">
          {{item.attributeTwo}}
        </div>
      {{/if}}

      {{#if item.attributeThree}}
        <div class="Polaris-ResourceList__AttributeThree">
          {{item.attributeThree}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
