{{#if loading}}
  <div class="Polaris-ResourceList__SpinnerContainer" style={{spinnerStyle}}>
    {{polaris-spinner
      accessibilityLabel="Items are loading"
      size=spinnerSize
    }}
  </div>
  <div class="Polaris-ResourceList__LoadingOverlay"></div>
{{/if}}
