{{#polaris-page
  title="Test Route"
}}

  {{#polaris-popover
    preferredPosition="mostSpace"
    as |popover|
  }}
    {{#popover.activator}}
      {{polaris-button
        text='clicky'
      }}
    {{/popover.activator}}
    {{#popover.content}}
      <h1>HAY</h1>
    {{/popover.content}}
  {{/polaris-popover}}

{{/polaris-page}}
