{{#polaris-page
  title="This is the test route"
  breadcrumbs=(array
    (hash
      text="Application"
      route="index"
    )
  )
}}
  <div>
    {{#link-to "test.child"}}
      Go to child route
    {{/link-to}}
  </div>
{{/polaris-page}}
