{{#if @hasRollup}}
  <div class="Polaris-Page-Header__Rollup">
    <PolarisPopover as |popover|>
      <popover.activator>
        <PolarisButton @plain={{true}} @icon="horizontal-dots" />
      </popover.activator>

      <popover.content>
        <PolarisActionList
          @items={{@secondaryActions}}
          @sections={{@actionGroupSections}}
          @onActionAnyItem={{action popover.close}}
        />
      </popover.content>
    </PolarisPopover>
  </div>
{{/if}}
