{{!-- TODO: support action.url --}}
{{#if action.icon}}
  <span class="Polaris-Page__ActionContent">
    <span class="Polaris-Page__ActionIcon">
      {{polaris-icon source=action.icon}}
    </span>

    <span>
      {{action.text}}
    </span>
  </span>
{{else}}
  {{action.text}}
{{/if}}
