{{!-- TODO: support action.url --}}
{{#if action.icon}}
  <span class="Polaris-Page__ActionContent">
    {{polaris-page/action-icon icon=action.icon}}

    <span>
      {{action.text}}
    </span>
  </span>
{{else}}
  {{action.text}}
{{/if}}
