{{#polaris-page
  title="This is the application route"
}}
  <div>
    {{#link-to "test"}}
      Go to test route
    {{/link-to}}
  </div>

  <div>
    {{#link-to "test.child"}}
      Go to child route
    {{/link-to}}
  </div>
{{/polaris-page}}
