{{#polaris-banner
  status="success"
  icon="confetti"
  action=(hash
    text="Track"
    onAction=(action (mut dummy))
  )
  secondaryAction=(hash
    text="View"
    onAction=(action (mut dummy))
  )
  onDismiss=(action (mut dummy))
}}
  <p>This order has been shipped.</p>
{{/polaris-banner}}
