{{#polaris-text-container}}
  {{polaris-heading text=title}}

  {{#if (or hasBlock description)}}
    <div class="Polaris-Layout__AnnotationDescription">
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        <p>
          {{description}}
        </p>
      {{/if}}
    </div>
  {{/if}}
{{/polaris-text-container}}
