<div class="Polaris-TextContainer">
  {{polaris-heading text=title}}

  {{#if (or hasBlock description)}}
    {{#polaris-text-style variation="subdued"}}
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        <p>
          {{description}}
        </p>
      {{/if}}
    {{/polaris-text-style}}
  {{/if}}
</div>
