{{#polaris-text-container}}
  {{polaris-heading text=title}}

  {{#if description}}
    <div data-test-annotation-description class="Polaris-Layout__AnnotationDescription">
      {{#if hasStringDescription}}
        <p>
          {{description}}
        </p>
      {{else if description}}
        {{render-content description}}
      {{/if}}
    </div>
  {{/if}}
{{/polaris-text-container}}
