<div class="Polaris-Layout__AnnotationWrapper">
  {{polaris-layout/annotation title=title description=description}}

  {{#polaris-layout/annotation-content}}
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{text}}
    {{/if}}
  {{/polaris-layout/annotation-content}}
</div>
