{{#if contentComponent}}
  {{#component contentComponent class="Polaris-PositionedOverlay"}}
    <div class="Polaris-Popover" data-polaris-overlay="true">
      <div class="Polaris-Popover__Tip"></div>
      <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
      <div class="Polaris-Popover__Wrapper">
        <div tabindex="-1" class="Polaris-Popover__Content">
          <div
            class="Polaris-Popover__Pane Polaris-Scrollable Polaris-Scrollable--vertical"
            data-polaris-scrollable="true"
          >
            {{#if hasBlock}}
              {{yield}}
            {{else}}
              {{text}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
    </div>
  {{/component}}
{{/if}}
